{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "browsers": "last 2 versions"
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-modules-commonjs",
        "transform-es2017-object-entries",
        "transform-object-rest-spread",
        "array-includes"
      ]
    },
    "esm": {
      "presets": [
        "es2016"
      ],
      "plugins": [
        "transform-es2017-object-entries",
        "transform-object-rest-spread",
        "array-includes"
      ]
    }
  }
}
